@import url("./globals.css");

body {
  background-image: url("./assets/components-img/retrowave.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.main-container {
  height: 100vh;
}

header {
  font-weight: 600;
  height: 48px;
  width: 100%;
}

.sign-in {
  color: var(--color-white);
  padding: 15px 52px;
  background: var(--gradient-primary);
  border-radius: 16px;
  display: inline-block;
}

.sign-in:hover {
  background: white;
  color: var(--color-purple);
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
  flex: 1;
}

h1 {
  color: var(--color-white);
  font-weight: 400;
  font-size: 52px;
  margin: 0 0 32px;
}

footer {
  display: flex;
  gap: 24px;
}
footer a {
  color: var(--color-white);
}
