body {
  background-color: var(--color-gray-13);
  background-image: url("./assets/retrowave.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: Poppins, sans-serif;
  height: 100vh;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 1120px;
  margin: auto;
  height: 100vh;
  padding: 24px 0;
}

.center-radial-gradient {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #c44d9c 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(30px);
  width: 100vw;
  height: 80vh;
  border-radius: 9999px;
  z-index: -1;
  opacity: 0.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  height: 48px;
  width: 100%;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:active {
  color: var(--color-white);
}

.sign-in {
  color: var(--color-white);
  padding: 15px 52px;
  background: var(--gradient-primary);
  border-radius: 16px;
  text-decoration: none;
  display: inline-block;
}

.sign-in:hover {
  background: white;
  color: var(--color-purple);
}

.btn-primary {
  width: 300px;
  color: var(--color-white);
  padding: 15px 52px;
  background: var(--gradient-primary);
  border-radius: 16px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.btn-primary:hover {
  background: white;
  color: var(--color-purple);
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
  flex: 1;
}

h1 {
  color: var(--color-white);
  font-weight: 400;
  font-size: 52px;
  margin: 0 0 32px;
}

footer {
  display: flex;
  gap: 24px;
}
