@import url(./globals.css);
body {
  background-image: url("./assets/components-img/retrowave.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.main-container {
  height: 100vh;
}

header {
  font-weight: 600;
  height: 48px;
  width: 100%;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 100%;
  flex: 1;
}

h5 {
  color: var(--color-white);
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 8px;
  text-align: center;
}

p {
  color: var(--color-white);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.input-container {
  position: relative;
}

.input-container input {
  width: 300px;
  padding: 15px 10px 15px 40px;
  font-size: 16px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  color: aliceblue;
  outline: none;
  box-sizing: border-box;
}

.input-container input.error {
  border-color: var(--color-error);
}

.input-container img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.btn-primary {
  margin-top: 10px;
}

.error-message {
  color: var(--color-error);
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.error-message.active {
  display: block;
}

.forgot-password {
  display: flex;
  justify-content: end;
  color: var(--color-pink);
  font-size: 14px;
  padding: 5px;
}

.registration {
  color: var(--color-pink);
}

@media (max-width: 900px) {
  p {
    font-size: 14px;
    text-align: center;
  }

  .input-container img {
    width: 18px;
    height: 18px;
    left: 8px;
  }
}
