<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 249px;
    gap: 15px;
  }
  img {
    width: 500px;
    height: 80px;
  }
  p {
    color: var(--color-white);
    font-weight: normal;
    font-size: 52px;
    margin: 0;
    margin-bottom: 32px;
  }
  .main-btn {
    padding: 16px 90px;
    color: var(--color-white);
    background: var(--gradient-primary);
    text-decoration: none;
    border-radius: 16px;
  }
  a:active {
    color: white;
  }
  a:hover {
    background: white;
    color: var(--color-purple);
  }
</style>
<main>
  <img src="./assets/Pixelmind-logo-2.png" alt="" />
  <p>A generative art experiment</p>
  <a href="/" class="main-btn">Enter the mind mines</a>
</main>
